li{
    display: inline;
    margin-left: 20px;
    list-style-type: none;
}

table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th,td{
    padding-left: 5px;
    height: 35px;
}
tr > th {
    background-color: rgb(48, 141, 45);
    color: white;
}
tr:hover{
    background-color: rgb(156, 153, 153);
}