/*Cambios globales*/
*{
    padding: 0;
    margin: 0;
}
header.cabecera{
    width: 100%;
}
header.cabecera > img{
    width: 65%;
    display: block;
    margin: auto;
    padding: 2px;
}
div.barra{
    position: sticky;
    top: 0;
}
div.barra > nav{
    width: 100%;
    background-color: darkslategray;
}
div.barra > nav > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 19px;
}
div.barra > nav > ul > li:hover{
    background-color: cornflowerblue;
}
div.barra > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
}
div.galeria{
    margin-top: 20px;
    width: 100%;
}
div.galeria > .item{
    width: 280px;
    height: 240px;
    border: 1px solid black;
    float: left;
    margin: 10px;
}
div.galeria > .item::after{
    content: "";
    clear: both;
}
div.galeria > .item > img{
    width: 100%;
}
div.galeria > .item > img:hover{
    opacity: 0.5;
}
div.galeria > .item > p{
    text-align: center;
    font-size: 20px;
}
div.formulario-contacto{
    margin-top: 100px;
    width: 80%;
    margin: auto;
}
div.formulario-contacto > form{
    width: 95%;
    margin: auto;
}
form > input[type="text"], form > input[type="email"]
{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
}
form > fieldset{
    width: 100%;
    padding: 10px;
}
form > fieldset > input[type="radio"]{
    margin-right: 10px;
}
input[type="submit"]{
    border: 0;
    padding: 10px 25px;
    background-color: rgb(21, 218, 70);
    color: white;
    margin-left: 10%;
}
input[type="reset"]{
    border: 0;
    padding: 10px 25px;
    background-color: rgb(241, 65, 65);
    color: white;
}
form > select{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 50px;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
footer >  div.fila{
    width: 100%;
    height: 200px;
}
footer > div.fila > .column{
    width: 33.33%;
    float: left;
    height: 200px;
}

/*reglas avanzadas*/
input[type="submit"]{
    transition: 2s linear 1s;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
input[type="reset"]:hover{
    transform: skew(20deg);
}

@keyframes example {
    from {transform: translateX(50px);}
    to {transform: translateX(-50px);}
}
